.btn {
  padding: 5px;
  border-radius: 5px;
  margin-left: 488px;
  width: 25px;
  height: 25px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;

}

.primary {
  background-color: green;
}

.error {
  background-color: red;
}

.secondary {
  background-color: aqua;
}
