.ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.ul li:hover {
  background-color: aqua;
}

.ul li:hover p {
  text-decoration: line-through;
}
