h1 {
  text-align: center;
  margin: 0 auto;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  border-bottom: 1px solid #fff;
  width: 1060px;
  height: 120px;
  margin-left: 190px;
  margin-right: 190px;
  margin-bottom: 74px;
  margin-top: 40px;
}

.pokemonList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 1060px;
  margin-left: 190px;
}

.filtr {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 88px;
  gap: 10px;
  padding-right: 580px;
  padding-left: 580px;
  width: 280px;
  height: 40px;
}

.btns {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 10px;
  width: 80px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  background-color: black;
  color: #fff;
}

.input {
  border: 1px solid #fff;
  border-radius: 8px;
  width: 80px;
  height: 40px;
  background-color: black;
  color: white;
}
